@model IEnumerable<cp2_enterprise.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Veículos</h1>

<p>
    <a asp-action="Create">Cadastrar Veículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="background-color: #ffbd03; color: white; padding: 0.5rem 1rem; border-radius: 10px">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="background-color: #4681F4; color: white; padding: 0.5rem 1rem; border-radius: 10px">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="background-color: #ED0800; color: white; padding: 0.5rem 1rem; border-radius: 10px">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
